.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 4px;
}

.navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--highlight1);
}

.navigation__link--active {
  background: var(--side);
}
